{
    "singleQuote": false,
    "printWidth": 250,
    "tabWidth": 4,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
